body {
  font-family: 'SolaimanLipi', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3 {
  text-align: center;
  color: #00695c;
}
#user-info {
  color: #000080; /* নীল রঙ */
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.header-box {
  background: #007bff;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  margin: 25px 0;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.header-box h1 {
  margin: 0 0 10px 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.header-box p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.summary-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 35px 0;
    flex-wrap: wrap;
}
.summary-card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.summary-icon {
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
}

.summary-card h3 {
    color: #007bff;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.summary-card p {
    font-size: 1.7em;
    font-weight: bold;
    color: #2c3e50;
}
